/*Gideon Richter 2/22/2017 */
.wrapper {
	width: 800px;
	position: relative;
	margin: 0 auto;
	padding: 10px;
	background-color: white;
	overflow: auto;
}

body {
	position: relative;
}

html {
	font-family: 'Comic Sans MS';
	background-color: lightblue;
}

.container {
	padding: 5px;
	/*border: 1px solid black;*/
	margin-bottom: 2px;
}

.main {
	border: 3px solid #444;
	border-top: none;
	height: 850px ;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*Navigation*/
#topRightNav {
	position: absolute;
	right: 10px;
	top: 10px;
}

#topRightNav a {
	margin-right: 10px;
}

#logo {
	height: 80px;
	vertical-align: -25px;
}

#mainNav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	background-color: #444;
	z-index: 10;
}

#mainNav ul li {
	display: inline-block;
	position: relative;
}

#mainNav ul li a {
	display: block;
	padding: 8px 25px;
	color: white;
	text-decoration: none;
}

#mainNav ul li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}

#mainNav ul li ul.dropdown {
	background: #444;
	display: none;
	position: absolute;
}

#mainNav ul li:hover ul.dropdown {
	display: block;
}

#mainNav ul li ul.dropdown li{
	display: block;
}



/*Layout + Formatting*/
.leftSide {
	width: 48%;
	height: 47%;
	float: left;
}

.leftSideBottom {
	width: 48%;
	height: 35%;
	float: left;
}

.rightSide {
	width: 48%;
	height: 47%;
	float: right;
}

.rightSideBottom {
	width: 48%;
	height: 35%;
	float: right;
}

.blockLabels label {
	display: block;
}

.blockCheckboxLabels label {
	display: inline-block;
}

.marginBottomTextBox input, select {
	margin-bottom: 10px;
}

.checkboxList {
	list-style-type: none;
	padding-left: 0;
}

.checkboxList li {
	margin-bottom: 20px;
}



/*Volunteer Information */
#volunteerInformationColumn1 {
	width: 48%;
	float: left;
}



/*Preferred Times */
#preferredTimesColumn2 {
	width: 70%;
	float: right;
}

#preferredTimes p {
	margin-left: 80px;
}

#preferredTimes label {
	width: 90px;
	text-align: right;
}

#preferredTimes input {
	margin-right: 20px;
}

input[type='checkbox'] {
	width: 16px;
	height: 16px;
}


/*Preferred Department*/
#preferredDepartments label {
	width: 140px;
	text-align: right;
}

#preferredDepartmentsColumn2 {
	width: 70%;
	float: right;
}



/*Submit Buttons */
#submitButtons {
	text-align: center;
}

.bigButtons input, button{
	margin: 30px 10px;
	padding: 10px 20px;
	font-weight: bold;
}



/*Update Volunteer Page */

.selectVolunteerForm {
	margin-left: 5px;
	margin-top: 10px;
}

.selectVolunteerForm select {
	width: 30%;
}

.deleteButton {
	color: white;
	background-color: #AF0000;
	border: 1px solid grey;
	border-radius: 2px;
}

.deleteButton:hover {
	box-shadow: inset 0 0 30px #f00;
}
