 /*Gideon Richter 2/22/2017 */
 .wrapper {
	width: 800px;
	position: relative;
	margin: 0 auto;
	padding: 10px;
	background-color: white;
	overflow: auto;
}

html {
	font-family: 'Comic Sans MS';
	background-color: lightblue;
}

.container {
	padding: 5px;
	/*border: 1px solid black;*/
	margin-bottom: 2px;
}

main {
	border: 3px solid #444;
	border-top: none;
	height: 850px ;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}



/*Navigation*/
#topRightNav {
	position: absolute;
	right: 10px;
	top: 10px;
}

#topRightNav a {
	margin-right: 10px;
}

#logo {
	height: 80px;
	vertical-align: -25px;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #444;
}

nav ul li {
    display: inline-block;
    position: relative;
}
    
nav ul li a {
    display: block;
    padding: 8px 25px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}

nav ul li ul.dropdown {
    background: #444;
    display: none;
    position: absolute;
}

nav ul li:hover ul.dropdown {
    display: block;
}

nav ul li ul.dropdown li{
    display: block;
}



/*Layout + Formatting*/
.leftSide {
	width: 48%;
	height: 10%;
	float: left;
}

.leftSideBottom {
	width: 48%;
	height: 35%;
	float: left;
}

.rightSide {
	width: 48%;
	height: 45%;
	float: right;
}

.rightSideBottom {
	width: 48%;
	height: 35%;
	float: right;
}

.blockLabels label {
	display: block;
}

.blockCheckboxLabels label {
	display: inline-block;
}

.marginBottomTextBox input, select {
	margin-bottom: 10px;
}

.checkboxList {
	list-style-type: none;
	padding-left: 0;
}

.checkboxList li {
	margin-bottom: 20px;
}



/*Volunteer Information */
#volunteerInformationColumn1 {
	width: 48%;
	float: left;
}



/*Preferred Times */
#preferredTimesColumn2 {
	width: 70%;
	float: right;
}

#preferredTimes p {
	margin-left: 80px;
}

#preferredTimes label {
	width: 90px;
	text-align: right;
}

#preferredTimes input {
	margin-right: 20px;
}



/*Preferred Department*/
#preferredDepartments label {
	width: 140px;
	text-align: right;
}

#preferredDepartmentsColumn2 {
	width: 70%;
	float: right;
}



/*Submit Buttons */
#submitButtons {
	text-align: center;
}

#submitButtons input {
	margin: 30px 10px;
	padding: 10px 20px;
}

iframe {
	margin-left: 5px;
	width: 780px;
	height: 743px;
	
}